---
layout: default
---

<h1 class="fw-bolder text-center">{{ page.title }}</h1>

{% assign page_tags = page.tags | sort_natural %}
{% assign presentations_tags = site.presentations | map: "tags" | join: "," | split: "," %}
{% assign tags = presentations_tags | uniq %}

{%- assign tag_freq_list = "" -%}

{%- for tag in page_tags -%}
  {% assign count = 0 %}
  {% for presentation in site.presentations %}
    {% if presentation.tags contains tag %}
      {% assign count = count | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% capture tag_line %}{{ count | prepend: "000" | slice: -3, 3 }}#{{ tag | downcase }}#{{ tag }}{% endcapture %}
  {% assign tag_freq_list = tag_freq_list | append: tag_line | append: "," %}
{%- endfor -%}

{% assign tag_freq_array = tag_freq_list | split: "," | sort | reverse %}

<div class="row">
  <div class="col"></div>
  <div class="col-md-9 text-center">
    <p>A presentation at {{ page.location }} in {{ page.date | date: "%B %Y" }} by <a href="https://jacobrcampbell.com/contact">Jacob Campbell</a> and is tagged with
      {% for tag_data in tag_freq_array %}
        {% unless tag_data == "" %}
          {% assign parts = tag_data | split: "#" %}
          {% assign tag_slug = parts[1] %}
          {% assign tag_display = parts[2] %}
          <a href="{{ '/presentation-tags/' | relative_url }}#{{ tag_slug | slugify }}">{{ tag_display }}</a>{% unless forloop.last %}, {% endunless %}
        {% endunless %}
      {% endfor %}
    </p>
  </div>
  <div class="col"></div>
</div>
<div id="carouselPresentationSlides" class="carousel slide row">
  <div class="col">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPresentationSlides" data-bs-slide="prev">
      <span class="fw-bolder h1 text-secondary" aria-hidden="true"><i class="fa-solid fa-circle-chevron-left"></i></span>
      <span class="visually-hidden">Previous</span>
    </button>
  </div>
  <div class="col-9">
    <div class="carousel-inner">
{% for slide in page.slides %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ site.url }}{{ site.baseurl }}/{{ page.presentation_id }}/{{ slide.slide_name }}" class="d-block w-100" alt="{% if slide.slide_alt %}{{ slide.slide_alt }}{% else %}{{ slide.slide_text | strip_html }}{% endif %}">
      </div>
{% endfor %}
    </div>
  </div>
  <div class="col">
    <button class="carousel-control-next" type="button" data-bs-target="#carouselPresentationSlides" data-bs-slide="next">
      <span class="fw-bolder h1 text-secondary" aria-hidden="true"><i class="fa-solid fa-circle-chevron-right"></i></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="row py-3">
  <div class="col-2"></div>
    <div class="col-md-3">
      <img class="rounded-circle float-start pe-2" width="75" src="https://jacobrcampbell.com/assets/src/jacob-campbell-portrait.jpg" alt="Portrait style photo of Jacob Campbell">
      <h5 class="position-relative top-50 start-50 translate-middle">Dr. Jacob Campbell</h5>
    </div>
    <div class="col-md-2 text-center align-bottom"><br><span id="slide_selection">{{ page.slides_count }} slides</span></div>
    <div class="col-md-3 h5">
      <br>
      <ul class="list-inline float-end">
        <li class="list-inline-item"><button type="button" data-bs-toggle="modal" data-bs-target="#modalShare" class="btn btn-link link-body-emphasis" title="Share this presentation"><i class="fa-solid fa-share-from-square"></i></button></li>
        <li class="list-inline-item"><a href="{{ page.downloadable_slides }}" class="link-body-emphasis" title="Download PDF Version"><i class="fa-solid fa-file-arrow-down"></i></a></li>
        <li class="list-inline-item"><a href="slides" class="link-body-emphasis" title="See all slides"><i class="fa-solid fa-map"></i></a></li>
        <li class="list-inline-item"><a href="present" class="link-body-emphasis" title="Present slides"><i class="fa-solid fa-desktop"></i></a></li>
        <li class="list-inline-item"><a href="embed" class="link-body-emphasis" title="Embedded version of slides"><i class="fa-solid fa-code"></i></a></li>
      </ul>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col-md-6">
    <h2>Description</h2>
    {% if page.presentation_description_md %}
      {{ page.presentation_description_md | url_decode | markdownify }}
    {% else %}
      {{ page.presentation_description }}
    {% endif %}
  </div>
  <div class="col"></div>
</div>
{% if page.presentation_video %}
<div class="row">
  <div class="col"></div>
  <div class="col-md-6">
    <h2>Video</h2>
      <div class="ratio ratio-16x9">
        <iframe src="{{ page.presentation_video }}" title="Presentation Video" allowfullscreen></iframe>
      </div>
  </div>
  <div class="col"></div>

{% endif %}

{{ content }}


<!-- Modal -->
<div class="modal fade" id="modalShare" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Share Presentation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input id="share-url" class="form-control my-2" type="text" value="https://presentations.jacobrcampbell.com/{{ page.presentation_id }}" aria-label="URL for sharing" readonly>
        <ul class="list-inline orange share-buttons">
          <li class="list-inline-item"><a href="https://www.facebook.com/sharer/sharer.php?u=https://presentations.jacobrcampbell.com/{{ page.presentation_id }}&quote=" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/intent/tweet?source=https://presentations.jacobrcampbell.com/{{ page.presentation_id }}" target="_blank" title="Tweet"><i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
          <li class="list-inline-item"><a href="http://pinterest.com/pin/create/button/?url=https://presentations.jacobrcampbell.com/{{ page.presentation_id }}" target="_blank" title="Pin it"><i class="fab fa-pinterest-square fa-2x" aria-hidden="true"></i><span class="sr-only">Pin it</span></a></li>
          <li class="list-inline-item"><a href="http://www.linkedin.com/shareArticle?mini=true&url=https://presentations.jacobrcampbell.com/{{ page.presentation_id }}&title=&summary=&source=https://presentations.jacobrcampbell.com/{{ page.presentation_id }}" target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i><span class="sr-only">Share on LinkedIn</span></a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="copyEmbedCode()">Embed</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script>
    // JavaScript to update slide number
    document.addEventListener('DOMContentLoaded', function() {
      var carousel = document.getElementById('carouselPresentationSlides');
      var slideSelection = document.getElementById('slide_selection');
      var totalSlides = document.querySelectorAll('#carouselPresentationSlides .carousel-item').length;

      carousel.addEventListener('slide.bs.carousel', function(event) {
        var currentIndex = event.to + 1;
        slideSelection.textContent = currentIndex + '/' + totalSlides;
      });
    });

    // JavaScript to Copy Embed Code
    function copyEmbedCode() {
      const url = document.getElementById("share-url").value;

      // Example: iframe embed code
      const embedCode = `<iframe src="https://presentations.jacobrcampbell.com/{{ page.presentation_id }}" height="405" width="720" style="border: none;"></iframe>`;

      navigator.clipboard.writeText(embedCode).then(() => {
        alert("Embed code copied to clipboard!");
      }).catch(err => {
        console.error("Failed to copy: ", err);
      });
    }

  </script>
